
.container {
  padding: 0 2rem;
  display: inline-block;
  justify-content: center;
  margin-top: 8rem;
  overflow: hidden;
  width: 100%;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
      display: inline-block;
  width: 50%;
  margin: 1rem auto;
}
.header{
  font-family: 'Rubik Moonrocks', cursive;
  text-align: center;
    background: -webkit-linear-gradient(#333C83,#F24A72, #FDAF75,#EAEA7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}